

.card-body {
    text-align:center ;
}

.aboutus_aboutus    {
    @extend .contactus_title ;
    margin:2%;
    max-width:220px;

    
}

.card-title {
    @extend .contactus_title ;
    margin:5% auto;
    max-width: 250px;    
    padding: 1%;     
    
    
}

.card_aboutus {
    max-width: 840px;
    margin:3% auto;
      
}

.card-text {
    padding-top:3%;
}
