header {
    position: relative;
    width:100vw;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25) ;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .9);
    

    nav {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            position:relative;
            z-index: 1000;
        }

        .logo img {
            width:100%;                  
           padding-left:30px;
           
        }
        #check {
            display: none;
        }
    
        #check:checked~.nav-menu {
            height: 100vh;
        }
    
        #check:checked~.nav-menu li {
            display: block;
    
        }
    }

    .bar-btn {
        font-size: 25px;
        color: rgb(0, 0, 0);
        margin-right: 3%;
        padding-left:35%;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        width: 100%;
        height: 0vh;
        top: 100px;
        background: rgba(0, 0, 0, .95);
        text-align: center;
        transition: all .5s;
        max-height: 350px;

        li {
            display: none;
            line-height: 30px;
            margin: 50px 0;
            transition: all .5s;

            a {
                color: rgb(255, 255, 255);
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
            }

            .active,
            a:hover {
                color: rgb(248, 8, 8);
                transition: .3s;
            }

        }
    }
}

.fa-solid {
    margin-right: 10px;
}