/* media queries para responsive  */

@media screen and (max-width: 500px) {


    .form {
        padding-left: 3px;
        padding-bottom: 5%;
    }

    textarea {
        max-width: 250px;
    }

    #_subject {
        max-width: 250px;
    }

    .thanks_comment {
        margin-top: 50%;

    }

    .card_aboutus {
        margin:5% 2% 5% 2% !important;
    }

    .index__main {
      margin:2%;
    }

    #pay_popup {
        min-width:300px;
        margin:10px 20px;
    }


}

@media screen and (max-width: 470px) {

    .market__section {
        grid-template-columns: 1fr 1fr !important;
        text-align: center;

    }
    .container_login {
        width:100%;
        max-width: 100vh;
        margin-left:0;
    }

    .popup{
        width:100%;
        max-width: 100vh;
    }
   

    .market_product {
        text-align: center;

    }
    .market__cards {
        grid-template-columns: 1fr !important;
    }

}



@media screen and (min-width: 870px) {

    nav {
        height: 100px;

        .bar-btn {
            display: none;
        }

        .nav-menu {
            position: absolute;
            height: 100px;
            top: 0;
            background: none;
            transition: none;
            text-align: right;           
            padding-right: 15px;
            


            li {
                display: inline-block;
                line-height: 100px;
                margin: 0 16px;
                transition: none;

                a {
                    font-size: 14px;
                    color:rgba(255,255,255,.5);
                    text-shadow: 0.5px 0.5px 5px rgba(0,0,0,.40);
                    letter-spacing: 0.05rem;
                }
            }


        }


    }
    .market__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
    #item_cart p {
        font-size:18px;
       letter-spacing: 2px;
    
      }
.cart-img {
    max-width: 35%;
}
}

@media screen and (max-width:940px) {

    .form {
        padding-left: 40%;
    }

    .contactus__flexbox {
        flex-direction: column;
        align-items:center;
        

    }

    .mapouter {
        width: 350px;


    }

    .gmap_canvas {       
        max-width: 600px;
    }

    .card-title-market {
        font-size: 16px;

    }

    .card-text-market {
        font-size: 12px;

    }
    .gmap_canvas {
        margin:auto;
        margin-top:5%;
        padding-right:0!important;
    }
}
