@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swa);
header {
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.9);
}

header nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  position: relative;
  z-index: 1000;
}

header nav .logo img {
  width: 100%;
  padding-left: 30px;
}

header nav #check {
  display: none;
}

header nav #check:checked ~ .nav-menu {
  height: 100vh;
}

header nav #check:checked ~ .nav-menu li {
  display: block;
}

header .bar-btn {
  font-size: 25px;
  color: black;
  margin-right: 3%;
  cursor: pointer;
}

header .nav-menu {
  position: absolute;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 350px;
}

header .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .nav-menu li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
}

header .nav-menu li .active,
header .nav-menu li a:hover {
  color: #f80808;
  -webkit-transition: .3s;
  transition: .3s;
}

.login_btn_responsive {
  position: fixed;
  display: inline !important;
  top: -120px;
  right: 170px;
}

.cart_responsive {
  position: fixed;
  display: inline !important;
  top: -115px;
  right: 75px;
}

.fa-solid {
  margin-right: 10px;
}

#carrito {
  margin: 1%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 10%;
}

#carrito i {
  margin-left: 2%;
  cursor: pointer;
}

#reset {
  margin-right: 10px;
  font-weight: 600;
  color: black;
  border-radius: 9px;
}

#reset:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

#item_cart p {
  font-size: 12px;
  letter-spacing: 3px;
}

#item_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 1.5rem;
}

#item_cart p:hover {
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
}

#item_cart i:hover {
  color: red;
}

#pay_div {
  text-align: center;
}

.pay_popup {
  position: absolute;
  padding-top: 20px;
  height: 300px;
  max-width: 100vh;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  border: 2px solid rgba(0, 180, 183, 0.8);
  -webkit-transform: translate(0, -80%) scale(0.1);
          transform: translate(0, -80%) scale(0.1);
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.open_pay_popup {
  position: relative;
  visibility: visible;
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

#pay {
  margin: 0 auto;
  font-weight: 600;
  color: black;
  width: 20%;
  border-radius: 9px;
}

#pay:hover {
  background: rgba(32, 255, 0, 0.6);
}

#_subject {
  max-width: 200px;
}

#subt {
  text-align: center;
  font-weight: 600;
  margin-top: 25%;
  margin-bottom: 15%;
}

.cart-img {
  display: block;
  max-width: 40%;
  background-color: white;
  border-radius: 10%;
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10% auto 5%;
}

.login {
  border: none !important;
  font-weight: 900 !important;
  letter-spacing: 0.2rem;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.login:hover {
  background-color: rgba(9, 255, 0, 0.25) !important;
}

.logout:hover {
  background-color: rgba(255, 0, 0, 0.25) !important;
}

#user {
  text-align: center;
  border-radius: 5px;
  max-width: 55%;
  border: 1px solid black;
  margin: 2%;
}

#pass {
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  margin: 2%;
  max-width: 55%;
}

.container_login {
  width: 33%;
  position: absolute;
  z-index: 1;
  margin-left: 33%;
}

.btn_login {
  max-width: 100%;
  margin-top: 10%;
  padding: 1% 8%;
  background: rgba(33, 255, 13, 0.661);
  border: 0;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
}

.popup {
  position: relative;
  padding-top: 20px;
  width: 150%;
  max-width: 400px;
  height: 250px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  border: 2px solid rgba(0, 180, 183, 0.8);
  -webkit-transform: translate(0, -80%) scale(0.1);
          transform: translate(0, -80%) scale(0.1);
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.open_popup {
  visibility: visible;
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

#div_cross {
  text-align: right;
  position: relative;
  top: -20px;
}

#carouselExampleIndicators {
  margin: auto;
  margin-top: 1%;
  max-width: 97vw;
  max-height: 768px;
}

#carouselExampleIndicators .carousel-inner img {
  width: 750px;
  height: 380px;
  border-radius: 20px;
}

#index_alert {
  text-align: center;
  margin: 2%;
}

.index__main {
  padding: 5% 2% 2% 2%;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  line-height: 3rem;
  background-color: rgba(23, 185, 235, 0.2);
  max-width: 550px;
  margin: auto;
  margin-top: 2%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.index__main ol {
  letter-spacing: 0.8px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.index__main h3 {
  text-shadow: 0px 0px 6px white;
}

.index__main .fa-hand-pointer {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.index__main .fa-bell {
  color: yellow;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.index__main .fa-face-grin-stars {
  color: orange;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

/* media queries para responsive  */
@media screen and (max-width: 500px) {
  .form {
    padding-left: 3px;
    padding-bottom: 5%;
  }
  textarea {
    max-width: 250px;
  }
  #_subject {
    max-width: 250px;
  }
  .thanks_comment {
    margin-top: 50%;
  }
  .card_aboutus {
    margin: 5% 2% 5% 2% !important;
  }
  .index__main {
    margin: 2%;
  }
  #pay_popup {
    min-width: 300px;
    margin: 10px 20px;
  }
}

@media screen and (max-width: 470px) {
  .market__section {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    text-align: center;
  }
  .container_login {
    width: 100%;
    max-width: 100vh;
    margin-left: 0;
  }
  .popup {
    width: 100%;
    max-width: 100vh;
  }
  .market_product {
    text-align: center;
  }
  .market__cards {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .login_btn_responsive {
    right: 110px;
  }
  .cart_responsive {
    right: 50px;
  }
}

@media screen and (min-width: 870px) {
  nav {
    height: 100px;
  }
  nav .bar-btn {
    display: none;
  }
  nav .nav-menu {
    position: absolute;
    height: 100px;
    top: 0;
    background: none;
    -webkit-transition: none;
    transition: none;
    text-align: right;
    padding-right: 15px;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 16px;
    -webkit-transition: none;
    transition: none;
  }
  nav .nav-menu li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.05rem;
  }
  .market__cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  #item_cart p {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .cart-img {
    max-width: 35%;
  }
}

@media screen and (max-width: 940px) {
  .form {
    padding-left: 40%;
  }
  .contactus__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mapouter {
    width: 350px;
  }
  .gmap_canvas {
    max-width: 600px;
  }
  .card-title-market {
    font-size: 16px;
  }
  .card-text-market {
    font-size: 12px;
  }
  .gmap_canvas {
    margin: auto;
    margin-top: 5%;
    padding-right: 0 !important;
  }
}

#_footer {
  position: relative;
  text-align: center;
  left: 0px;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.9);
}

#_footer span {
  font-weight: bold;
}

#_footer i {
  margin-top: 1rem;
  padding: 0 15px 0 15px;
  text-shadow: 0px 1px 3px black;
}

#_footer p {
  margin-bottom: 5px;
}

.market__cards {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1%;
}

.market__nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 0 2% 0;
}

.market__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.5%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.market_product {
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 0.07);
  border-radius: 10%;
  -webkit-box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.1);
  margin: 5%;
}

.market_product .product {
  max-width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15%;
  margin: 5%;
}

.market_product h6 {
  font-weight: 600;
  text-shadow: -1px -1px 3px grey;
}

.card {
  margin: 10px;
  padding: 10px;
}

.card-title-market {
  font-weight: 600;
  text-shadow: 1px 1px 3px grey;
  font-size: 1.22rem;
}

.btn-primary {
  margin: 10%;
}

.contactus__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 15px;
  margin-left: 10%;
  margin-right: 5%;
}

#_subject {
  width: 300px;
}

.contactus_title, .aboutus_aboutus, .card-title {
  font-size: 24px;
  padding: 0;
  text-align: center;
  text-shadow: 0px 3px 9px white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  letter-spacing: 1.5px;
  max-width: 150px;
  margin: 2%;
}

.contactus_buttons {
  padding-left: 15%;
}

#_name, #_email, #_phone, #_subject, #_comment {
  font-size: 12px;
  font-weight: 600;
}

#_comment {
  font-size: 16px;
}

.mapouter {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 15px 0 15px;
}

.mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  padding-right: 10%;
}

.card-body {
  text-align: center;
}

.aboutus_aboutus {
  margin: 2%;
  max-width: 220px;
}

.card-title {
  margin: 5% auto;
  max-width: 250px;
  padding: 1%;
}

.card_aboutus {
  max-width: 840px;
  margin: 3% auto;
}

.card-text {
  padding-top: 3%;
}

/* css thanks */
.thanks_comment {
  text-align: center;
  margin-top: 10%;
}

.thanks_comment h2 {
  font-size: 24px;
  padding: 0;
  text-align: center;
  text-shadow: 0px 3px 9px white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  letter-spacing: 1.5px;
}

.icon-ig {
  color: #d738d7;
}

.icon-tw {
  color: #3fb6e5;
}

.icon-wpp {
  color: green;
}

/*CSS Reset*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Body Style */
body {
  font-family: "MontSerrat", sans-serif !important;
  background: -webkit-gradient(linear, left top, left bottom, from(skyblue), color-stop(white), to(skyblue));
  background: linear-gradient(to bottom, skyblue, white, skyblue);
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */